---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="mx-auto grid h-full max-w-screen-md grid-rows-3 text-center text-lg text-neutral-900 dark:text-neutral-50"
  >
    <h1 class="row-start-2 text-4xl font-black md:text-7xl">
      Anteckningar för studenter på IT-Drift 2023
    </h1>
    <p class="row-end-4 mb-3 self-end align-bottom text-base md:text-lg">
      Problem? Säg till eller maila mig:{" "}
      <a href="mailto:linus.olander_paulsson0169@stud.hkr.se" class="underline"
        >linus.olander_paulsson0169@stud.hkr.se</a
      >
    </p>
  </div>
</Layout>
